@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

/* for body part */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #90c9c2;
    text-align: center;
  }

/* top navigation */
  nav {
    position:sticky;
    top:0;
    background-color: #1e5d6f	;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index:1000;
    padding-right:30px;
  }

  nav img {
    height: 30px;
    margin-right: 10px;
    margin-left:30px;
  }

  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  nav a:hover {
    background-color:  #90c9c2	;
    color: #1e5d6f;
  }

  nav a.login{
    margin-left:auto;
  }

  #nav-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: #1e5d6f;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

  
  #nav-up:hover {
    color : #a7a7a7;
  }


  /* home tittle */

  .homepage_picture{
    margin-bottom:0;
  }

  .homepage_picture img{
    display: block;
    width: 100%;
    margin: 0;
  }

  /* corner selector */

  .corner-container{
    display:block;
    background-color: #ffffff;
    margin:auto;
    width:100%;
    margin-top:0px; margin-bottom:0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
  }

  .corner-container h1{
    font-size: 80px;
    margin-bottom: 5px; margin-top:0;
  }

  .corner-category{
    display:flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom:40px;
  }

  .category p{
    margin-top: 5px;
    font-size: 20px;
    margin-bottom:40px;
  }

  .category-icon{
    color:#1e5d6f;
    margin-left: 40px; margin-right: 40px;
    width: 80px;
    padding: 40px;
    background-color: #90c9c2;
    border-radius: 80px;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); */
  }

  .category-icon:hover{ 
    color: #90c9c2;
    background-color: #1e5d6f;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  /* content articles */

  .content-container{
    width:100%;
    display:block;
    margin: auto;
    justify-content: center;
    text-align: center;
  }
  
  .content-container h1{
    font-size: 80px;
    margin-bottom:0;
    color:#ffffff
  }

  .articles-container{
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding:40px;
  }

  .articles-category{
    font-size: 20px;
    display:flex;
    justify-content:space-evenly;
  }
  
  .articles-category a{
    margin-bottom: 20px;
    color:#1e5d6f;
  }
  .main-article{
    display:block;
    width: 100%;
    margin:auto;
    margin-top: 40px;
    align-content: center;
    text-align: center;
  }

  .first-article {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }

  .first-article h1{
    color:black;
    margin-top:0; margin-bottom:0;
    font-size: 40px; 
  }

  .first-article img {
    width: 100%;
    height: 40vw;   
    object-fit: cover;
  }

  .first-article p{
    margin-top:0;
    text-align: left;
    font-size:15px;
  }

  .other-article {
    width: 80%;
    display: flex;
    margin-top: 40px; margin-bottom: 20px;
  }

  .other-article img {
    width: 30vw;
    height: 20vw;
    object-fit: cover; 
  }

  .other-article-content {
    display:block;
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
  }

  .other-article-content h2{
    color: black;
    font-size: 30px;
    margin-top: 0; margin-bottom: 0;
  }

  footer {
    text-align: left;
    width:90%;
    margin: auto;
  }